
$flexslider-padding: $baseline*2;

.flexslider {

	position: relative;
	padding-bottom: $flexslider-padding;

	.slides {

		@include cf;
	}

	.flex-direction-nav {

		@include centre(y);
		z-index: 5555;
		width: 100%;
		margin-top: -$flexslider-padding;
		display: none;

		@include breakpoint($tablet) {

			display: block;
		}

		a {

			display: block;
		}

		.flex-nav-prev,
		.flex-nav-next {

			@include centre(y);
			@include transition(all .2s ease-in-out);
			text-indent: -999999px;

			a {
				
				display: block;
				width: 30px;
				height: 42px;
				background-image: url(../img/theme/sprite.png);
				background-repeat: no-repeat;
				background-size: 60px 50px;

				&:hover {

					border: none;
				}
			}
		}

		.flex-nav-prev {

			left: 4px;

			&:hover {

				left: 10px;
			}
		}

		.flex-nav-next {
	
			right: 4px;

			&:hover {

				right: 10px;
			}

			a {

				background-position: -30px 0;
			}
		}
	}

	.flex-control-nav {

		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;

		@include breakpoint($tablet) {

			display: none;
		}

		li {

			display: inline-block;
			margin: 0 $baseline/4;

			a {

				display: block;
				text-indent: -99999px;
				background: $col-white;
				@include border-radius(50%);
				width: 15px;
				height: 15px;
				border: 1px solid $col-black;

				&.flex-active,
				&:hover {

					background: $col-black;
				}
			}
		}
	}
}

