
// ============================================================
// FORMS 
// ============================================================


$inputBorderRadius: 0;
$inputMaxWidth: 480px;
$textareaHeight: 260px;
$disableFocus: true;

// Button colours
$primaryBtnCol: $col-white;
$primaryBtnColHover: $col-white;
$primaryBtnBg: $col-black;
$primaryBtnBgHover: $col-lime;
$secondaryBtnCol: $col-white;
$secondaryBtnColHover: $col-white;
$secondaryBtnBg: $col-blue;
$secondaryBtnBgHover: $col-yellow;


.btn,
input,
button,
select,
textarea {

	margin-bottom: $baseline/2;
	@include border-radius($inputBorderRadius);
	border: 1px solid $col-lightgrey;

	@if $disableFocus {

		&:focus {

			outline: none;
		}
	}
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="password"] {

	display: block;
	width: 100%;
	max-width: $inputMaxWidth;
	padding: $baseline/2;
}

select,
textarea {

	display: block;
	@extend input[type="text"];
}

textarea {

	resize: vertical;
	min-height: $textareaHeight;
} 

.btn,
button,
input[type="submit"] {

	border: 1px solid $primaryBtnBg !important;
	width: auto;
	padding: $baseline/4 $baseline/2;
	background: $primaryBtnBg;
	color: $primaryBtnCol;
	display: inline-block;
	text-transform: uppercase;
	font-family: $gibsonlight;
	@include transition(all .2s ease-in-out);

	&.cta {

		padding: $baseline/3 $baseline*2.5;
	}

	&:hover {

		color: $primaryBtnColHover;
		background: $primaryBtnBgHover;
		text-decoration: none;
		border: 1px solid $primaryBtnBgHover !important;
	}

	&.secondary {

		background: $secondaryBtnBg;
		color: $secondaryBtnCol;

		&:hover {

			color: $secondaryBtnCol;
			background: $secondaryBtnBgHover;
		}
	}

	&:hover {

		cursor: pointer;

	}
}

// ============================================================