
// ============================================================
// IMAGES 
// ============================================================


.img-half {

	width: 50%;
	height: auto;
	display: block;

}

.img-full {

	width: 100%;
	height: auto;
	display: block;

}


// ============================================================