
// ============================================================
// IMAGES 
// ============================================================


.img-half {

	width: 50%;
	height: auto;
	display: block;
}

.img-full {

	width: 100%;
	height: auto;
	display: block;
}

.sprite {

	background-image: url(../img/theme/sprite.png);
	background-repeat: no-repeat;
}


// ============================================================