
// ============================================================
// LINKS 
// ============================================================


$linkColor: $col-black;


a {

	text-decoration: none;
	color: $linkColor;
	border-bottom: 2px solid transparent;

	&:link {}

	&:visited {}

	&:hover {

		text-decoration: none;
		border-bottom: 2px solid $col-lime;
	}

	&:active {

		text-decoration: none;
	}
}

// ============================================================