
// ============================================================
// TYPOGRAPHY 
// ============================================================

@font-face {
    font-family: 'GibsonRegular';
    src: url(../fonts/canada_type_-_gibson-regular-webfont.ttf);
}
@font-face {
    font-family: 'GibsonSemiBold';
    src: url(../fonts/canada_type_-_gibson-semibold-webfont.ttf);
}
@font-face {
    font-family: 'GibsonLight';
    src: url(../fonts/canada_type_-_gibson-light-webfont.ttf);
}

$gibsonregular: 'GibsonRegular', arial, sans-serif;
$gibsonlight: 'GibsonLight', arial, sans-serif;
$gibsonsemibold: 'GibsonSemiBold', arial, sans-serif;

html {

	font-size: 100%;
}

body, input, textarea, select, button, p, a {

    @include font(15);
    color: $col-black;
    font-family: $gibsonregular;
}

h1, h2, h3, h4, h5, h6 {

    font-family: $gibsonsemibold;
    text-transform: uppercase;

    &.mb {
       margin-bottom: $baseline/2; 
   }  
}

h1, .h1, .alpha {

    @include font(36);

    @include breakpoint($tablet) {

        @include font(48);
    }
}

h2, .h2, .beta {

    @include font(32);
}

h3, .h3, .gamma {

    @include font(25);
}

h4, .h4, .delta {

    @include font(22);
}

h5, .h5, .epsilon {

   @include font(16);
}
h6, .h6, .zeta {

    @include font(15);
}

.mega {

	@include font(72);
}

small,
.tiny {

    @include font(14);
}

p {

    margin-bottom: $baseline/2;
}

strong {

    font-family: $gibsonsemibold;
}

em {

    font-style: italic;
}


// ============================================================