
// ============================================================
// THEME 
// ============================================================


	// SPACING
	// --------------------------------------------------------
	$baseline: 20px;


	// COLOURS
	// --------------------------------------------------------

	$col-black		: #222;
	$col-white		: #fff;
	$col-grey		: #C9C9C9;
	$col-lightgrey	: #E6E6E6;
	$col-darkgrey	: #8F8F8F;
	$col-red 		: #D13E36;
	$col-lime 		: #b7f0e7;
	$col-green		: #17AD8A;
	$col-blue		: #2B78C4;
	$col-yellow		: #C4C416;
	$error-msg 		: red;
	$warning-msg	: yellow;
	$success-msg	: green;


	// BREAKPOINTS
	// --------------------------------------------------------

	$tablet : 840px;
	$mobile : 450px;

// ============================================================