
// ============================================================
// THEME 
// ============================================================


	// SPACING
	// --------------------------------------------------------
	$baseline: 20px;


	// COLOURS
	// --------------------------------------------------------

	$col-black		: #222;
	$col-white		: #fff;
	$col-grey		: #C9C9C9;
	$col-lightgrey	: #e6e7e7;
	$col-darkgrey	: #aaa9a9;
	$col-red 		: #C97386;
	$col-lime 		: #6ee1cd;
	$col-green		: #17AD8A;
	$col-blue		: #2B78C4;
	$col-yellow		: #C4C416;
	$error-msg 		: red;
	$warning-msg	: yellow;
	$success-msg	: green;


	// BREAKPOINTS
	// --------------------------------------------------------

	$tablet : 767px;
	$mobile : 450px;

// ============================================================