// ============================================================
// HEADER 
// ============================================================

.global-header {

	z-index: 1;
	background: $col-white;
	border-bottom: 1px solid $col-black;

	@include breakpoint($tablet) {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 60px;
	}

	// Logo
	.logo {

		display: block;
		width: 200px;
		margin: 0 auto;
	}

	// General nav styles
	nav.visible-nav {

		& > ul {

			& > li {

				display: inline-block;
				position: relative;

				& > a {

					text-transform: uppercase;
					color: $col-black;
					font-family: $gibsonsemibold;
					display: block;
					padding: 20px 0 0 0;
					border-bottom: 4px solid transparent;
					@include transition(all .2s ease-in-out);

					&:hover {

						border-bottom: 4px solid $col-lime;
						text-decoration: none;
					}
				}
			}
		}
	}

	// Left nav
	.nav-left {

		display: none;

		@include breakpoint($tablet) {

			display: block;
		}

		padding-left: $baseline+45px;

		ul {

			li {

				margin-right: $baseline/2;
			}
		}
	}

	// Right nav
	.nav-right {

		padding-right: $baseline;
		display: none;

		@include breakpoint($tablet) {

			display: block;
		}

		& > ul {

			text-align: right;

			& > li {

				margin-left: $baseline/2;
			}
		}
	}

	.tagline-mobile {

		text-align: center;
		padding: $baseline/2 0;
		border-top: 1px solid $col-black;

		span {

			margin: 0 $baseline/2;
		}
	}
}


// Burger button & menu
.burger-menu {

	float: left;
	padding: 16px 0 0 $baseline;

	@include breakpoint($tablet) {

		position: absolute;
		top: 2px;
		left: 0;
		float: none;
		padding: 0;
	}
}

.burger-nav {

	display: none;
	background: $col-white;
	z-index: 2;
	padding: $baseline 0;

	@include breakpoint($tablet) {
		
		position: absolute;
		left: 0;
		top: 57px;
		width: 300px;
		padding: $baseline;
	}


	li {

		display: block;

		a {

			color: $col-black;
			text-transform: uppercase;
			font-family: $gibsonlight;
			@include font(14);
			@include transition(all .2s ease-in-out);
			padding-bottom: 4px;
			line-height: 30px;

			&:hover {

				text-decoration: none;
			}
		}
	}
}

.burger {

	height: 27px;
	width: 29px;
	display: block;
	position: relative;

	@include breakpoint($tablet) {

		position: absolute;
		top: 16px;
		left: $baseline;
	}

	&:hover {

		border: none;

		i {

			background: $col-lime;
		}
	}

	i {

		width: 30px;
		height: 5px;
		background: $col-black;
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		@include border-radius(3px);
		@include transition(all .2s ease-in-out);

		&.top {

			top: 0;
		}

		&.middle {

			top: 10px;
		}

		&.bottom {

			bottom: 0;
		}
	}	
}


// ============================================================


