

.breadcrumbs {

	margin-bottom: $baseline/2;

	@include breakpoint($tablet) {

		margin-bottom: $baseline;
	}

	&.alt {

		padding: $baseline 25px $baseline/2 25px;
		border-bottom: 1px solid $col-black;

		@include breakpoint($tablet) {

			border: none;
			padding: 0 25px;
		}
	}

	ul {

		li {

			display: inline-block;

			&:after {

				content: '/';
				color: $col-lightgrey;
			}

			&:last-child {

				&:after {

					content: '';
				}
			}

			a {

				color: $col-lightgrey;
				text-transform: uppercase;

				&:hover {

					color: $col-black;
				}
			}
		}
	}
}