

#product {

	// Thumbnails
	.product-thumbnails {

		li {

			display: block;
			margin-bottom: $baseline;

			&:last-child {

				margin-bottom: 0;
			}
		}
	}

	// Main Product Image

	// Details
	.product-details {

		.product-details-header {

			text-align: center;

			h1 {

				font-family: $gibsonregular;
				text-transform: none;
				@include font(38);
			}
		}
	}
}