

#cart-page {

	// Cart item headers
	.cart-item-headers {

		border-top: 1px solid $col-lightgrey;
		border-bottom: 1px solid $col-lightgrey;
		padding: $baseline 0 $baseline/2 0;
		
		li {

			text-transform: uppercase;
			@include font(18);
		}
	}

	// Each item in the cart
	.cart-items {

		ul {

			.cart-item {

				@include font(18);
				@include cf;
				border-bottom: 1px solid $col-lightgrey;
				padding: $baseline*1.5 0;

				.title {

					text-transform: uppercase;
				}

				.remove-link {

					padding-top: $baseline*3;
					display: block;
				}

				.cart-pull-right {

					text-align: right;
				}
			}
		}
	}

	// Cart footer
	.cart-footer {

		margin-top: $baseline;
	}
}