

.black-popup {

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999999;
	background: rgba(0,0,0,.65);
	text-align: center;

	.black-popup-close {

		position: absolute;
		top: $baseline;
		right: $baseline*1.5;
	}
}