
// ============================================================
// HELPERS 
// ============================================================

.block {

	display: block;

}

.inline {

	display: inline-block;

}

.pull-left {

	float: left;

}

.pull-right {

	float: right;

}

.text-center {

	text-align: center;

}

.text-right {

	text-align: right;

}

.browsehappy {

	color: white;
	background: red;
	width: 100%;
	text-align:center;

}

.mb {

	margin-bottom: $baseline/2;
	display: block;

}

.invisible {

	visibility: hidden;

}

.hidden {

	display: none;
}

.hide-large {

	@include breakpoint($tablet) {

		display: none;
	}
}

.hide-small {

	display: none;

	@include breakpoint($tablet) {

		display: block;
	}
}

// ============================================================

